# Flask Basic Routes Example
flask
requests

# Fastapi Todo List API Example
fastapi
uvicorn
pydantic
sqlalchemy

# Data Exchange Activity Example
dicttoxml
xmltodict

# SOAP WSDL Client Example
zeep
lxml

# MongoDB Tutorial Class
pymongo